
{%  extends "layout.html "%}
{% block content %}
        <h4>
            This is the Students page
        </h4>
        {% for student in students %}
        <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                   <h4> <a class="mr-2" >{{ student.name }}</a></h4>
                      <small class="text-muted">Age: {{ student.age }}</small>
                </div>
            <h6><a class="article-title" >{{ student.major }}</a></h6>
        </div>
    </article>
        {%  endfor  %}
{% endblock %}


    
