<!DOCTYPE html>
<html>
    <head>
        {%  if title  %}
        <title>Welcome - {{ title }}</title>
        {%  else  %}
        <title>Welcome</title>
        {% endif %}
    </head>
    <body>
        <h1>
            This is the Students page
        </h1>
    </body>
    <div>
        {% for student in students %}
            <h2>
            FULL NAME:  {{ student.name }}
            </h2>
            <p>
            AGE: {{ student.age }}
            </p>
            <p>
                PROFESSION:{{ student.major }}
            </p>
        {%  endfor  %}
    </div>
</html>